* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: rgba(81, 101, 255, 0.66);
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 10px;
}

h1 {
    color: #ffffff;
    font-family: monospace;
    margin-bottom: 20px;
}

.section {
    background-color: #ffffff;
    padding: 40px;
    border: 1.5px solid #b2b2b2;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.contact-info {
    margin-top: 20px;
    font-size: 14px;
    color: #000;
}

#my-qr-reader {
    padding: 20px;
    border: 1.5px solid #b2b2b2;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    border: 1px solid #b2b2b2;
    outline: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-top: 15px;
    background-color: #0f5b0fad;
    transition: 0.3s background-color;
}

button:hover {
    background-color: #008000;
}

#result {
    color: red;
    margin-top: 20px;
    font-size: 16px;
}
